.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.comment-container {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &-global {
    width: 100%;
    &-left {
      display: flex;
      align-items: center;
    }
  }
}

.comment-header {
  display: flex;
  justify-content: space-between;
}
.comment-container-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #80808030;
  margin: 0 0 0 5px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.comment-option-toggle {
  margin-left: 5px;
}
.pseudo {
  font-weight: bold;
  font-size: 13px;
}
p.comment-text {
  text-align: left;
  border-radius: 5px;
  font-size: 15px;
  word-break: break-all;
  margin: 0;
}
.comment-date {
  margin: 0;
  text-align: left;
  padding-left: 40px;
  font-size: 12px;
  color: gray;
}

.edit-comment {
  &-label {
    color: black;
    font-weight: bold;
  }
  &-form {
    margin-top: 5px;
    width: 100%;
    text-align: left;
  }
  &-input {
    width: 98%;
    border: none;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 5px;
    outline: none;
    word-break: break-all;
    height: 70px;
    max-width: 544px;
  }
  &-btn {
    border: none;
    padding: 6px;
    font-size: 12px;
    background-color: #1877f2;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: #0d6ae4;
    }
  }
}
.delete-comment-label {
  color: red;
}
