.card-container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 0px #afafaf7a;
  -webkit-box-shadow: 1px 2px 6px 0px #afafaf7a;
  margin: 30px 0;
}

.postWrapper {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}
.postTopRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.postProfilePicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #eaeaea;
}

.postUsername {
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  @media screen and (max-width: 345px) {
    font-size: 14px;
  }
}

.postDate {
  font-size: small;
  color: gray;
  text-align: left;
  margin-left: 10px;
}
.postTopUserAndDate {
  display: flex;
  flex-direction: column;
}
.postCenter {
  margin: 10px 0;
  text-align: left;
}
.postText {
  font-size: 15px;
}
.postImg {
  margin-top: 10px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.likeIconLiked {
  width: 24px;
  height: 24px;
  margin-right: 5px;

  & > * {
    fill: #c50000;
  }
}
.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  font-size: 15px;
  color: gray;
  &:hover {
    text-decoration: underline;
  }
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
