.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerLogo {
  width: 80%;
  margin-bottom: 5px;
}

.registerDesc {
  font-size: 24px;
  text-align: center;
}

.registerBox {
  height: 550px;
  padding: 0 20px;
  background-color: #0e213f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  @media screen and (max-width: 1024px) {
    height: 40px;
  }
}

.error {
  margin: 0;
  color: red;
  font-weight: 500;
}
.error input {
  border-bottom: 1px solid #eb516d;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1877f2;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 10px 0;
  transition: all 100ms linear;
  &:hover {
    transform: scale(1.02);
  }
  @media screen and (max-width: 768px) {
    height: 40px;
  }
}

.registerForgot {
  text-align: center;
  color: #1877f2;
}

.registerRegisterButton {
  align-self: center;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 100ms linear;
  &:hover {
    transform: scale(1.02);
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    height: 40px;
  }
}
label {
  color: #fff;
  font-weight: bold;
}
